@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Quicksand;
		src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
		font-weight: 700;
	}

	@font-face {
		font-family: Quicksand;
		src: url('/fonts/Quicksand-Light.ttf') format('truetype');
		font-weight: 300;
	}

	@font-face {
		font-family: Quicksand;
		src: url('/fonts/Quicksand-Medium.ttf') format('truetype');
		font-weight: 500;
	}
}

/* Clases de utilidad personalizadas */
@layer utilities {
	.grid-cols-auto-240 {
		grid-template-columns: repeat(auto-fill, 240px);
	}

	.grid-cols-auto-140 {
		grid-template-columns: repeat(auto-fill, 140px);
	}

	.grid-template-rows-auto {
		grid-template-rows: auto 1fr auto;
	}
	.grid-template-columns-auto {
		grid-template-columns: auto 1fr auto;
	}

	.grid-one-orden {
		grid-template-columns: auto 1fr;
	}

	.grid-two-pedidos {
		grid-template-columns: auto 1fr auto auto;
	}

	.list-style {
		list-style: none;
	}

	.z-index-prueba {
		z-index: 2;
	}
}

/* aca es donde va todas las direcciones de letras de que vamos a usar */
